<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Registration Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.16.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.16.1/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script> 
</head>
<body style="background-color:#63738a">
<div class="signup-form">
    <form method="post" action="/register" enctype="multipart/form-data">
		<h2>Register</h2>
		<p class="hint-text">Create your account.</p>
        <div class="form-group">
			 <input type="text" class="form-control" name="Full_name" placeholder="Full Name" required>     	
        </div>
		<div class="form-group">
        	<input type="text" class="form-control" name="Date_of_birth" placeholder="Date of Birth" onfocus="(this.type='date')" onfocusout="(this.type='text')" required>
        </div>
		<div class="form-group">
            <input type="tel" class="form-control" name="Mobile_number" placeholder="Mobile Number" required>
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" name="Email" placeholder="Email" required>
        </div>
		<div class="form-group">
            <input type="text" class="form-control" name="Passport_number" placeholder="Passport Number" required>
        </div>
		<div class="form-group">
			<p>Input your photo below</p>
            <input type="file" class="form-control" name="Profile" id="Profile"required>
        </div> 
		<div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block">Register Now</button>
        </div>
    </form>
	<div style="color:#ffff" class="text-center">Already registered? <a href="./login">Log in</a></div>
</div>
</body>
</html>